
body {
    background-color: slategrey;
}

.header {
    background-color: #0e11a1;
    background-color: #6e2ebc;
    background-image: linear-gradient(to right, #6e2ebc, #0e11a1);
    border: solid;
    border-color: black;
    border-width: 5px;
}

#gameName {
    text-align: center;
    padding-top: 20px;
    color: white;
    font-family: 'Press Start 2P'
}

h1 {
    text-align: center;
    padding-top: 20px;
    color: white;
}

.displayName {
    color: white;
    font-size: x-large;
    padding-left: 5%;
    margin-left: 5%;
    font-family: 'Press Start 2P';
}

.containerQuests {
    background-image: linear-gradient(to top, #6e2ebc, #0e11a1);
    color: black;
    width: 100%;
    height: 80%;
    overflow: hidden;
    margin-top: 20px;
    border-style: solid;
    border-color: black;
    border-width: 5px;
}

.UserInput {
    background-image: linear-gradient(to left, #6e2ebc, #0e11a1);
    text-align: center;
    color: white;
    font-weight: bold;
    margin-top: 20px;
    font-size: large;
    border: solid;
    border-width: 2px;
    border-color: black;
}

#displayScore {
    font-size: xx-large;
    font-weight: bolder;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-bottom: 5px;
    background-color: whitesmoke;
    color: blue;
    border-color: black;
    border-width: 5px;
    border-style: solid;
    font-family: 'Iceland';
    font-weight: 400;
}

.container {    
    max-width: 100%;
}

.displaySavedScores {
    color: white;
    background-image: linear-gradient(to bottom,  #6e2ebc, #0e11a1 );
    text-align: center;
    margin-top: 25px;
    border-radius: 15%;
    margin-top: 20px;
}

.displayAnswr.incorrect {
    color: white;
    text-align: center;
    background-color: red;
}
.displayAnswr.correct{
    color: white;
    text-align: center;
    background-color: green;
}

.selection {
    background-color: blueviolet;
    color: white;
    margin: 15px;
    padding: 10px;
    font-size: larger;
}

#ans {
    text-align: center;
    padding-top: 20px;
    margin-top: 40px;
    font-size: x-large;
    font-family: 'Iceland';
}

#username {
    margin-top: 5px;
    padding-top: 5px;
}

p {
    color: white;
    font-size: xx-large;
    width: 100%;
    text-align: center;
    margin-top: 150px;
    padding-top: 50px;
}
#text {
    position: absolute;
    color: rgb(255, 255, 255);
    left: 50%;
    top: 90%;
    transform: translate(-50%, -50%);
    background-color: rgba(41, 41, 41, 0.8);
    padding: 0.5px;
    text-align: bottom;
    font-size: 24px;
}

#backB{
    top: 80px;
    background-image: linear-gradient(to top,  #6e2ebc, #0e11a1);
    color: white;
    
}
#congrats {
    text-align: center;
    background-color: white;
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: xx-large;
    font-family: 'Iceland';
}

.displayScore {
    background-color: white;
    font-size: x-large;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    color: #0e11a1;
    font-family: 'Press Start 2P';
}

#previous-scores {
    background-image: linear-gradient();
}

li {
    font-size: large;
}

#question {
    padding-top: 50px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: 'Iceland';
    font-weight: 400;
}

#gameover {
    font-family: 'Press Start 2P';
}